<app-title-box
  *ngIf="element === 'beam'"
  title="Dimentions"
  [(value)]="beamType"
  [options]="beamOptions"
>
  <div *ngIf="beamType === 'Rectangular'">
    <app-input-options
      type="number"
      [(value)]="hb"
      label="Section height:"
      width="{{ inputWidth }}"
      placeholder="hb"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [(value)]="bw"
      label="Section width:"
      width="{{ inputWidth }}"
      placeholder="bw"
      units="m"
    ></app-input-options>
  </div>
  <div *ngIf="beamType === 'Wide flanges'">
    <app-input-options
      type="number"
      [(value)]="hb"
      label="Section height:"
      width="{{ inputWidth }}"
      placeholder="hb"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [(value)]="bw"
      label="Section width:"
      width="{{ inputWidth }}"
      placeholder="bw"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [(value)]="beff_left"
      label="Left flange width:"
      width="{{ inputWidth }}"
      placeholder="beff,l"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [(value)]="beff_right"
      label="Right flange width:"
      width="{{ inputWidth }}"
      placeholder="beff,r"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [disable]="true"
      [value]="beff()"
      label="Effective flange:"
      width="{{ inputWidth }}"
      placeholder="beff"
      units="m"
    ></app-input-options>
  </div>
</app-title-box>
<app-title-box
  *ngIf="element === 'column'"
  title="Dimentions"
  [(value)]="columnType"
  [options]="columnOptions"
>
  <div *ngIf="columnType === 'Rectangular'">
    <app-input-options
      type="number"
      [(value)]="cx"
      label="Section height:"
      width="{{ inputWidth }}"
      placeholder="cx"
      units="m"
    ></app-input-options>
    <app-input-options
      type="number"
      [(value)]="cy"
      label="Section width:"
      width="{{ inputWidth }}"
      placeholder="cy"
      units="m"
    ></app-input-options>
  </div>
  <div *ngIf="columnType === 'Circular'">
    <app-input-options
      type="number"
      [(value)]="D"
      label="Diameter:"
      width="{{ inputWidth }}"
      placeholder="D"
      units="m"
    ></app-input-options>
  </div>
</app-title-box>
