::ng-deep
  .dx-dropdownbutton:not(.dx-dropdownbutton-has-arrow)
  .dx-button-has-icon:not(.dx-button-has-text)
  .dx-button-content {
  padding: 3px;
}
::ng-deep .dx-button-content img.dx-icon {
  font-size: 15px;
  width: 24px;
  height: 24px;
}
.input {
  padding: 8px;
  font-size: 15px;
  .title {
    padding-bottom: 3px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: #363636;
  padding: 5px 5px 5px 0px;
}
.container {
  border-top: 1px solid #bab9b9;
  background-color: #363636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 10px;
}
