<app-title-box title="Materials">
  <div class="material">
    <div class="label">Concrete</div>
    <dx-drop-down-button
      text="Add Material"
      height="30px"
      [showArrowIcon]="false"
      [dropDownOptions]="{ width: 150 }"
      displayExpr="name"
      [disabled]="disable"
    >
      <dxi-item
        name="Eurocode Standards"
        (click)="addNewConcreteMaterialPopup.toggle()"
        >Eurocode Standards</dxi-item
      >
      <dxi-item name="Saved Materials">Saved Materials</dxi-item>
    </dx-drop-down-button>
  </div>
  <div class="contents" *ngIf="concreteMaterial">
    <div class="material-info">
      <div class="info">
        <div class="name">
          {{ concreteMaterial.materialOutput.value }}
          <div class="modified">modified</div>
        </div>
        <div class="test">Eurocode Standards</div>
      </div>
      <div class="buttons">
        <dx-button
          (click)="concrete.toggle()"
          stylingMode="text"
          type="default"
          icon="edit"
        ></dx-button>
        <dx-button
          (submit)="deleteMat()"
          stylingMode="text"
          type="default"
          icon="trash"
          (click)="deletePopup.toggle()"
        ></dx-button>
      </div>
    </div>
    <app-concrete-options
      #concrete
      Name="{{ concreteMaterial.materialOutput.value }}"
      [properties]="concreteMaterial.properties"
      [data]="concreteMaterial"
      [fck]="concreteMaterial.properties.fck"
    ></app-concrete-options>
  </div>

  <app-add-new-material
    #addNewConcreteMaterialPopup
    type="Concrete"
    (submit)="saveValues($event); addNewConcreteMaterialPopup.close()"
  ></app-add-new-material>

  <app-add-new-material
    #deletee
    type="Concrete"
    (submit)="saveValues($event); addNewConcreteMaterialPopup.reset()"
  ></app-add-new-material>

  <app-add-new-material
    #addNewSteelMaterialPopup
    type="Steel"
    (submit)="saveValues($event); addNewSteelMaterialPopup.close()"
  ></app-add-new-material>
</app-title-box>

<app-popup-form
  #deletePopup
  type="delete"
  width="400px"
  title="Are you sure you want to delete this material?"
></app-popup-form>
