:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.labels {
  width: fit-content;
}
.input {
  width: 200px;
}
.select {
  height: 100%;
}
.add-button {
  font-size: 13px;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  padding: 0px 8px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #4d4d4d;
  cursor: pointer;
  &:hover {
    border: 1px solid rgba(28, 168, 221, 0.4);
  }
}
dx-number-box {
  width: 100%;
  height: 100%;
  padding: 0px;
}
dx-text-box {
  width: 100%;
  height: 100%;
  padding: 0px;
}
