:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.labels {
  width: fit-content;
}

.select {
  height: 100%;
}

dx-number-box {
  width: 100%;
  height: 100%;
  padding: 0px;
}
dx-text-box {
  width: 100%;
  height: 100%;
  padding: 0px;
}
::ng-deep .dx-placeholder,
::ng-deep .dx-texteditor-input-container {
  display: flex;
  align-items: center;
}
::ng-deep .dx-button-has-text .dx-button-content {
  padding: 0px;
}
::ng-deep.dx-show-clear-button ::ng-deep.dx-clear-button-area {
  width: fit-content;
  min-width: 20px;
}
::ng-deep.dx-show-clear-button ::ng-deep.dx-icon-clear {
  font-size: 16px;
  margin: 0px;
  top: 0%;
  padding: 0px;
  height: 100%;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
}
