<div class="labels" *ngIf="label">{{ label }}</div>
<div class="input" [style.width]="width" [style.height]="height">
  <dx-number-box
    *ngIf="type === 'number'"
    [(value)]="value"
    (valueChange)="valueChange.emit(value)"
    [disabled]="disable"
    [showClearButton]="clearButton"
    placeholder="{{ placeholder }}"
    [min]="0"
  >
    <dx-validator>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-validator>
    <dxi-button
      *ngIf="units"
      name="units"
      location="app-popup-form"
      [text]="units"
      [options]="unitsButton"
    ></dxi-button>
    <dxi-button name="clear"></dxi-button>
  </dx-number-box>
  <dx-text-box
    *ngIf="type === 'text'"
    [value]="text!"
    [(text)]="text"
    (textChange)="textChange.emit(text)"
    [disabled]="disable"
    [showClearButton]="clearButton"
    placeholder="{{ placeholder }}"
  ></dx-text-box>
  <dx-select-box
    #selectBox
    *ngIf="type === 'select'"
    class="select"
    [items]="options"
    [(value)]="option"
    (valueChange)="optionChange.emit(option)"
  >
    <dxo-drop-down-options [maxHeight]="140"></dxo-drop-down-options
  ></dx-select-box>
</div>
