:host {
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}
::-webkit-input-placeholder {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fixed {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: rgb(132, 124, 124);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input {
  width: 100%;
  display: list-item;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}
.placeholder {
  font-weight: normal;
  color: gray;
  font-size: 14px;
  position: absolute;
  bottom: 10%;
  left: 0;
  padding: 0px 10px;
  pointer-events: none;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
