<app-title-box title="Cover" [(value)]="cover" [options]="coverOptions">
  <div *ngIf="cover === 'Nominal cover'">
    <app-input-options
      type="number"
      [(value)]="cnom"
      label="Nominal cover:"
      width="{{ inputWidth }}"
      placeholder="cnom"
      units="m"
    ></app-input-options>
    <app-input-options
      type="select"
      [(option)]="reinforcingBar"
      [options]="rebarOptions"
      label="Diameter of Reinforcing Bar:"
      width="{{ inputWidth }}"
    ></app-input-options>
    <app-input-options
      type="select"
      [(option)]="shearReinforcement"
      [options]="rebarOptions"
      label="Diameter of Shear Reinfocement:"
      width="{{ inputWidth }}"
    ></app-input-options>
  </div>
  <div *ngIf="cover === 'Reinfocement cover'">
    <app-input-options
      type="number"
      [(value)]="cnom"
      label="Reinfocement cover:"
      width="{{ inputWidth }}"
      placeholder="cL"
    ></app-input-options>
    <app-input-options
      type="select"
      [(option)]="reinforcingBar"
      [options]="rebarOptions"
      label="Diameter of Reinforcing Bar:"
      width="{{ inputWidth }}"
    ></app-input-options>
  </div>
</app-title-box>
