:host {
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424040;
  color: white;
  padding: 5px;
  border-radius: 4px 4px 0px 0px;
  .label {
    padding-right: 5px;
  }
}
.select {
  min-width: 120px;
}
.contents {
  padding: 5px;
  border: #424040 2px solid;
  border-radius: 0px 0px 4px 4px;
  color: white;
  background-color: #2a2a2a;
}
::ng-deep .dx-placeholder,
::ng-deep .dx-texteditor-input-container {
  display: flex;
  align-items: center;
}
::ng-deep .dx-button-has-text .dx-button-content {
  padding: 0px;
}
