<div class = 'breadcrumbs'> Test</div>
<div class = 'container'>
    <div class = 'headline'>
        <img src="../../../assets/Structural.png" width="100%" >
        <div class = 'description'>
            <div class = 'title'>{{title}}</div>
            <div class = 'info'>
                <i class="fas fa-layer-group"></i> {{items.length}} items
            </div>
        </div>
    </div>
    <div class = 'test'>
        <div class=items *ngFor="let item of items">
            <app-panel
                [state]="'closed'"
                title={{item.title}}
                backgroundColor = 'white'>
                <div class='info'>
                    <i class="fas fa-layer-group"></i> {{ item.contents.length }} items
                </div>
                <div class = 'contents'>
                    <div class='contents-items' *ngFor="let contents of item.contents">
                        <div>{{contents.title}}</div>
                    </div>
                </div>
            </app-panel>
        </div>
    </div>
</div>
