<app-popup-form
  (submit)="validateAndSubmit()"
  title="Add new material"
  width="400px"
>
  <div class="label">Material Type</div>
  <app-select-options [(value)]="formData.material" [options]="materialList">
  </app-select-options>
  <div class="label">Eurocode Standard</div>
  <app-select-options
    [(value)]="formData.value"
    (valueChange)="materialChoice()"
    [options]="materialChoice()"
  ></app-select-options>
  <div class="label">Material Name</div>
  <input type="text" [value]="formData.value" />
</app-popup-form>
