<app-popup-form
  (submit)="validateAndSubmit()"
  title="Add new material"
  width="500px"
>
  <div class="label">Material Type</div>
  <dx-select-box
    *ngIf="type"
    #selectBox
    height="30px"
    class="select"
    [items]="materialList"
    [(value)]="type"
    [disabled]="true"
  ></dx-select-box>
  <dx-select-box
    #selectBox
    *ngIf="!type"
    height="30px"
    class="select"
    [items]="materialList"
    [(value)]="formData.material"
  ></dx-select-box>
  <div class="label">Eurocode Standard</div>
  <dx-select-box
    #selectBox
    height="30px"
    class="select"
    [items]="materialChoice()"
    [(value)]="formData.value"
    (valueChange)="materialChoice()"
  >
    <dxo-drop-down-options [height]="140"></dxo-drop-down-options>
  </dx-select-box>
  <div class="label">Material Name</div>
  <dx-text-box
    height="28px"
    [value]="formData.value!"
    [showClearButton]="true"
  ></dx-text-box>
</app-popup-form>
