:host {
  display: block;
  width: 280px;
  color: #f1e9ef;
  background-color: #252525;
  box-shadow: 1px -10px 10px -2px #171b22;
}
.search {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 280px;
  background-color: #3a789e;
  .logo {
    position: absolute;
    top: 20%;
    font-size: 16px;
    font-weight: bold;
  }
  .search-input {
    position: absolute;
    width: 85%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    top: 70%;
    &:focus {
      outline: none;
    }
  }
}
.title {
  width: fit-content;
  color: #c6d7e2;
  text-shadow: 2px 2px #212629;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0px 10px 5px;
  text-decoration: none;
  cursor: pointer;
}

.items {
  display: block;
  width: 100%;
  margin-bottom: 3px;
  border-bottom: 1px solid #ffffff3b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.contents {
  font-size: 15px;
  font-weight: normal;
  border-top: 1px solid #ffffff3b;
  cursor: default;
}
.contents-items {
  width: fit-content;
  padding: 5px 15px;
  cursor: pointer;
  :hover {
    color: #3a789e;
  }
}
