<div class = 'outer'>
        <div class = 'menu'>
            <div class = 'nav-left'>
                <div class='item'> logo</div>
            </div>
            <div class = 'nav-right'>
                <div>
                    <div [routerLink]="'/home'" class='item'> Home</div>
                    <div [routerLink]="'/applications'" class='item'> Αpplications</div>
                    <div class='item'> Courses</div>
                </div>
                <button class = 'log-in'>Log in</button>
            </div>
        </div>
</div>
