<app-viewport title="{{ title }}" [items]="items">
  <div class="items" *ngFor="let item of items">
    <app-panel
      [state]="'closed'"
      title="{{ item.title }}"
      backgroundColor="#252525"
      height="50px"
    >
      <div class="info">
        <i class="fas fa-layer-group"></i> {{ item.contents.length }} items
      </div>
      <div class="contents">
        <div class="contents-items" *ngFor="let contents of item.contents">
          <div [routerLink]="contents.link">{{ contents.title }}</div>
        </div>
      </div>
    </app-panel>
  </div>
</app-viewport>
