:host {
  display: block;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: #000000b5;
}
.form {
  box-shadow: 1px 1px 10px 1px black;
  display: block;
  border-radius: 4px;

  .header {
    background-color: #1c1b1b;
    color: rgb(225, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #424040;
  }
  .close {
    border-radius: 4px;
    cursor: pointer;
    padding: 0px 7px 3px 7px;
    font-size: 20px;
    align-content: center;
    font-family: system-ui;
    &:hover {
      color: white;
      background-color: #424040;
    }
  }
  .menu {
    padding: 10px 10px 15px 10px;
    background-color: #1c1b1b;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #424040;
    color: white;
    max-width: 100%;
  }
  .contents {
    width: 100%;
  }
  .delete {
    flex-direction: column;
    background-color: #1c1b1b;
    color: rgb(225, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    padding: 20px;
  }
  .validation {
    padding-bottom: 30px;
  }
}
.assign {
  display: flex;
  padding-top: 8px;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
