:host {
  display: block;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  .title {
    font-size: 15px;
    padding-left: 10px;
  }
  .modified {
    padding-top: 5px;
    color: grey;
  }
  .image {
    width: 40px;
    height: 40px;
    img {
      height: 100%;
      width: 100%;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(228deg)
        brightness(100%) contrast(2%);
    }
  }
}
.tabs {
  height: 400px;
}
.items {
  padding: 10px 20px;
}
app-input-options {
  padding: 8px 0px;
}
