<app-popup-form title="Material Properties" width="500px">
  <div class="header">
    <div class="image">
      <img src="../../assets/concrete.png" />
    </div>
    <div class="title">
      <div>{{ Name }}</div>
      <div class="modified">Modified: Wednesday, 13 April 2021 - 14:30</div>
    </div>
  </div>
  <div class="tabs">
    <dx-tab-panel height="350px">
      <dxi-item title="General" icon="preferences">
        <div class="items">
          <app-input-options
            label="Material Type"
            type="text"
            [disable]="true"
            width="150px"
            [text]="data.materialOutput.material"
          ></app-input-options>
          <app-input-options
            label="Material Name"
            [(text)]="Name"
            type="text"
            width="150px"
          ></app-input-options>
          <app-input-options
            label="Weight per Unit Volume"
            type="number"
            [(value)]="WeightperUnit"
            width="150px"
            units="MPa"
          ></app-input-options>
          <app-input-options
            type="select"
            [options]="unitsOptions"
            [(option)]="units"
            label="Units:"
            width="150px"
            height="25px"
          ></app-input-options>
          <app-input-options
            label="Partial factor"
            type="number"
            [(value)]="partialFactor"
            width="150px"
          ></app-input-options>
          <app-input-options
            label="Factor consdering longterm effects"
            type="number"
            [(value)]="longtermFactor"
            width="150px"
          ></app-input-options>
        </div>
      </dxi-item>
      <dxi-item title="Properties" icon="edit">
        <div class="items">
          <app-input-options
            type="number"
            label="Compresive Strength of Concrete"
            [(value)]="data.properties.fck"
            width="150px"
            units="MPa"
          ></app-input-options>
          <app-input-options
            type="number"
            label="Mean Cylinder Compresive Strength"
            [(value)]="data.properties.fcm"
            width="150px"
            units="MPa"
          ></app-input-options>
          <app-input-options
            type="number"
            label="Modulus of Elasticity"
            [(value)]="concreteProperties.Ecm"
            width="150px"
            units="MPa"
          ></app-input-options>
          <app-input-options
            type="number"
            label="Poison's ratio"
            [(value)]="data.properties.v"
            width="150px"
          ></app-input-options>
          <app-input-options
            type="number"
            label="Shear Modulus"
            [value]="shearModulus()"
            [disable]="true"
            width="150px"
            units="MPa"
          ></app-input-options>
        </div>
      </dxi-item>
      <dxi-item title="Advanced" icon="more">
        <div class="items">
          <app-input-options
            type="select"
            label="Stress - Strain Relations"
            [options]="stressStrainOptions"
            [(option)]="stressStrainOption"
            (click)="test()"
            width="170px"
          ></app-input-options>
          <app-input-options
            *ngIf="stressStrainOption === 'Schematic'"
            type="number"
            label="Shear Modulus"
            [(value)]="fck"
            width="150px"
            units="MPa"
          ></app-input-options>
        </div>
      </dxi-item>
    </dx-tab-panel>
  </div>
  <!-- <div class="panel" *ngFor="let item of concreteProperties">
    <app-panel [state]="'open'" title="{{ item.title }}" padding="0px">
      <div class="parameter" *ngFor="let contents of item.contents">
        <div class="label">{{ contents.title }}</div>
        <div class="fixed" *ngIf="contents.class == 'fixed'">
          {{ contents.value }}
        </div>
        <app-input-options
          *ngIf="contents.class == 'input'"
          (valueChange)="MeanCompresiveStrength()"
          [type]="contents.type"
          [(value)]="contents.value"
        ></app-input-options>
        <app-select-options
          *ngIf="contents.class == 'select'"
          [(value)]="contents.value"
          [options]="contents.options"
          height="20px"
        ></app-select-options>
      </div>
    </app-panel>
  </div> -->
  <!--<div class="panel">
    <app-panel title="General:" [state]="'open'" padding="0px">
      <div class="parameter">
        <div class="label">Material Type:</div>
        <div class="fixed">Concrete</div>
        <div class="label">Material Name:</div> -->
  <!-- <app-input-options type="text" [(value)]="Name"></app-input-options>
        <div class="label">Units:</div> -->
  <!-- <app-select-options
          [(value)]="units"
          [options]="unitsOptions"
          height="20px"
        ></app-select-options> 
      </div>
    </app-panel>
  </div>-->
  <!-- <div class="panel">
    <app-panel title="Properties:" [state]="'open'" padding="0px">
      <div class="parameter">
        <div class="label">Compresive Strength of Concrete:</div>
        <app-input-options
          type="number"
          [(value)]="fck"
          placeholder="fck [kN/m{{ sup2 }}]"
          >{{ MeanCompresiveStrength() }}</app-input-options
        >
        <div class="label">Mean Concrete Cylinder Compresive Strength:</div>
        <app-input-options
          type="number"
          [(value)]="fcm"
          (ngModelChange)="ModulusofElasticity()"
          placeholder="fcm [kN/m{{ sup2 }}]"
        ></app-input-options>
        <div class="label">Modulus of Elasticity:</div>
        <app-input-options
          type="number"
          [(value)]="Ecm"
          placeholder="Ecm [kN/m{{ sup2 }}]"
        ></app-input-options>
        <div class="label">Poison:</div>
        <app-input-options
          type="number"
          [(value)]="v"
          placeholder="v"
        ></app-input-options>
        <div class="label">Shear Modulus:</div>
        <div class="fixed">{{ ShearModulus() }}</div>
        <div class="label">Weight per Unit Volume:</div>
        <app-input-options
          type="number"
          placeholder="[kN/m{{ sup3 }}]"
        ></app-input-options>
      </div>
    </app-panel>
  </div>
  <div class="panel">
    <app-panel title="More Info:" [state]="'open'" padding="0px">
      <div class="parameter">
        <div class="label">Stress - strain relations:</div>
        <app-select-options
          [(value)]="stressStrain"
          [options]="StressStrainOptions"
          height="20px"
        ></app-select-options>
        <div class="label">Mean Concrete Cylinder Compresive Strength:</div>
        <app-input-options
          type="number"
          [(value)]="fcm"
          (ngModelChange)="MeanCompresiveStrength()"
          placeholder="fcm [kN/m{{ sup2 }}]"
        ></app-input-options>
        <div class="label">εc:</div>
        <app-input-options type="number" [(value)]="ec"></app-input-options>
        <div class="label">Poison:</div>
        <app-input-options
          type="number"
          [(value)]="v"
          placeholder="v"
        ></app-input-options>
        <div class="label">Shear Modulus:</div>
        <div class="fixed">{{ ShearModulus() }}</div>
        <div class="label">Weight per Unit Volume:</div>
        <app-input-options
          type="number"
          placeholder="[kN/m{{ sup3 }}]"
        ></app-input-options>
      </div>
    </app-panel>
  </div> -->
  <!-- <div class="panel">
    <app-panel title="Comments:" [state]="'closed'" padding="0px">
      <div class="input"><textarea cols="5" rows="45"></textarea></div>
    </app-panel>
  </div> -->
</app-popup-form>
