.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  min-width: fit-content;
}
.left-input {
  padding: 15px;
  width: 50%;
  min-width: 400px;
}
.right-input {
  padding: 15px 15px 15px 0px;
  min-width: 400px;
  width: 50%;
}

app-dimensions,
app-cover,
app-materials {
  padding: 7px 0px;
}
