:host{
    display: block;
    overflow: hidden;
}
// .items{
//     position: relative;
//     height:50px;
//     width: 90%;
//     padding: 5px;
//     margin-bottom: 3px;
//     font-weight: bold;
//     color: #3a789e;
//     background-color: white;
//     box-shadow: 0px 0.5px 2px 0px #6e6868ba;
//     cursor: pointer;
//     &:hover{
//         box-shadow: 0px 0.5px 5px 0px #4d4c4cba;
//     }
//     .info{
//             position: absolute;
//             left: 10px;
//             bottom: 10px;
//             color: #5e5858;
//             font-size: 12px;
//             font-weight: normal;
//         }
// }
.panel{
    // position: relative;
    height:50px;
    // width: 90%;
    padding: 5px;
    // margin-bottom: 3px;
    // font-weight: bold;
    // color: #3a789e;
    // background-color: white;
    // box-shadow: 0px 0.5px 2px 0px #6e6868ba;
//     cursor: pointer;
//     &:hover{
//         box-shadow: 0px 0.5px 5px 0px #4d4c4cba;
//     }
}